.app-root{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .app-body{
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        #gl{
            display: block;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
}